body {
    margin: 0;
    padding: 0;
    background-image: url('../Img/Logofundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

#content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 1);
    width: 90%;
    max-width: 400px;
}

#escrever {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    width: 100%;
}
